{% extends "perfiles/base.html" %}

{% block head_content %}
	<title>Login</title>
{% endblock %}

{% block container %}
	{% if error %}
		<p class="alert alert-danger">{{ error }}</p>
	{% endif%}
	<div class="col s12 m4 offset-m4">
		<div id="publicacion" class="card">
			<div class="card-content card_content_title grey-text text-darken-4">
				<form action="{% url "login" %}" method="POST">
					{% csrf_token %}
					<div class="input">
						<input class="form-control" type="text" name="username" placeholder="Username">
					</div>
					<div class="input">
						<input class="form-control" type="password" name="password" placeholder="Password">
					</div>
					<div class="center">
						<button class="btn btn-primary" type="submit">Iniciar Sesión</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
{% endblock %}
