{% extends "base.html" %}
{% load static %}

{% block head_content %}
	<title>Perfil</title>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div id="perfil" class="">
        <div id="perfil_foto" class="perfil_usuario col s2">
					{% if foto_perfil %}
						<img class="perfil_foto" src="{{ foto_perfil }}">
		      {% else %}
						<img class="perfil_foto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSf_Bf0-x44hsGqqcQwrTcNeLUSnYjlDuoql-hQHydDdBwxeCT2">
		      {% endif %}

        </div>
        <div class="col s8">
          <span class="perfil_detalles grey-text text-darken-4">
            <h5>
              @{{ request.user.username }}
              <a href="{% url 'update_profile' %}" class="activator material-icons right">settings</a></span>
            </h5>

            <p>
            <strong>111</strong> publicaciones
            <strong class="elementos_perfil">222</strong> seguidos
            <strong class="elementos_perfil">333</strong> seguidores
            </p>

            {% for dato in perfil%}
            <p>
              <strong>{{ user.get_full_name }} </strong><br>
              <span>{{ dato.sitio_web }}</span>
            </p>
            <p>{{ dato.biografia }}</p>
            {% endfor %}

          </span>
        </div>
      </div>
    </div>


  </div>

  <div class="row galeria">
      {% for foto in fotos %}
    <div class="col s12 m4">
      <div id="publicacion" class="card ">
        <div class="card-content card_content_title grey-text text-darken-4">
          <i class="activator material-icons right">more_vert</i>
        </div>

        <div class="card-image waves-effect waves-block waves-light perfil_publicacion">
          <img  class="materialboxed" src="{{ foto.foto.url }}">
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{foto.titulo}} <i class="material-icons right">close</i></span><br><br>
          <div class="row">
              <form class="col s12" method="POST" action="{% url 'edit_post' %}">
                {% csrf_token %}
                <div class="row">
                  <div class="input-field col s12">
                    <label for="titulo">Titulo</label>
                    <input placeholder="Titulo" name="titulo" value="{{ foto.titulo }}" id="titulo" type="text" class="validate">
                  </div>
                  <div class="input-field col s12">
                    <label for="descripcion">Descripción</label>
                    <input id="descripcion" name="descripcion" type="text" value="{{ foto.descripcion }}" class="validate">
                  </div>
                </div>
                <div class="row">
                  <div class="col s6">
                    <div class="center">
                      <button type="submit" class="btn btn-primary btn-block mt-5">Actualizar</button>
                    </div>
                  </div>
                  <div class="col s6">
                    <div class="center">
                      <button type="#" class="btn btn-danger btn-block mt-5">Eliminar</button>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="foto_id" value="{{ foto.id }}">
              </form>
            </div>
        </div>
      </div>
    </div>
      {% endfor %}
      <!-- {% for foto in fotos %}
        <img onclick="window.open(this.src)" class="col s12 m4 materialboxed" src="{{ foto.foto.url }}">
      {% endfor %} -->
  </div>
{% endblock %}
