{% extends "base.html" %}
{% load static %}

{% block head_content %}
	<title>Perfil</title>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div id="perfil" class="">
        <div id="perfil_foto" class="perfil_usuario col s2">
					{% if foto_perfil %}
						<img class="perfil_foto" src="{{ foto_perfil }}">
		      {% else %}
						<img class="perfil_foto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSf_Bf0-x44hsGqqcQwrTcNeLUSnYjlDuoql-hQHydDdBwxeCT2">
		      {% endif %}

        </div>
        <div class="col s8">
          <span class="perfil_detalles grey-text text-darken-4">
            <h5>
              @{{ request.user.username }}
              <a href="{% url 'update_profile' %}" class="activator material-icons right">settings</a></span>
            </h5>

            <p>
            <strong>111</strong> publicaciones
            <strong class="elementos_perfil">222</strong> seguidos
            <strong class="elementos_perfil">333</strong> seguidores
            </p>
            
            {% for dato in perfil%}
            <p>
              <strong>{{ user.get_full_name }} </strong><br>
              <span>{{ dato.sitio_web }}</span>
            </p>
            <p>{{ dato.biografia }}</p>
            {% endfor %}

          </span>
        </div>
      </div>
    </div>


  </div>

  <div class="row galeria">
    <div class="col s12 m10 offset-m1">
      {% for foto in fotos %}
        <img class="col s12 m4 materialboxed" src="{{ foto.foto.url }}">
      {% endfor %}
    </div>
  </div>
{% endblock %}
