{% extends "base.html" %}
{% load static %}

{% block head_content %}
	<title>Perfil</title>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div id="perfil" class="">
        <div id="perfil_foto" class="perfil_usuario col s2">
          <img class="perfil_foto" src="https://picsum.photos/500/500">
        </div>
        <div class="col s8">
          <span class="perfil_detalles grey-text text-darken-4">
            <h5>
              Nombre Usuario
              <a href="{% url 'update_profile' %}" class="activator material-icons right">settings</a></span>
            </h5>

            <p>
            <strong>111</strong> publicaciones
            <strong class="elementos_perfil">222</strong> seguidos
            <strong class="elementos_perfil">333</strong> seguidores
            </p>

            <p>
            <strong>Nombre</strong>
            </p>
            <p>
            bibliografia del usuario
            </p>

          </span>
        </div>
      </div>
    </div>


  </div>

  <div class="row galeria">
    <div class="col s12 m10 offset-m1">
      <img class="col s12 m4 materialboxed" data-caption="A picture of a way with a group of trees in a park" src="https://picsum.photos/500/500">
      <img class="col s12 m4 materialboxed" data-caption="A picture of a way with a group of trees in a park" src="https://picsum.photos/500/500">
      <img class="col s12 m4 materialboxed" data-caption="A picture of a way with a group of trees in a park" src="https://picsum.photos/500/500">
      <img class="col s12 m4 materialboxed" data-caption="A picture of a way with a group of trees in a park" src="https://picsum.photos/500/500">
      <img class="col s12 m4 materialboxed" data-caption="A picture of a way with a group of trees in a park" src="https://picsum.photos/500/500">
      <img class="col s12 m4 materialboxed" data-caption="A picture of a way with a group of trees in a park" src="https://picsum.photos/500/500">
      <img class="col s12 m4 materialboxed" data-caption="A picture of a way with a group of trees in a park" src="https://picsum.photos/500/500">
      <img class="col s12 m4 materialboxed" data-caption="A picture of a way with a group of trees in a park" src="https://picsum.photos/500/500">
    </div>
  </div>
{% endblock %}
