{% extends "base.html" %}

{% block head_contend %}
<title>Noticias</title>
{% endblock %}

{% block container %}
	<div class="col s12 histories_section">
		<a href="{% url 'add_post' %}" class="large material-icons add_histories">add_circle</a>
		{% for historia in historias %}
			<!-- Modal Trigger -->
			<a href="#modal{{ historia.perfil.id }}" class="modal-trigger imagen" data-perfil="{{ historia.perfil.foto_perfil }}" data-imagen="{{ historia.foto }}" data-mensaje="{{ historia.descripcion }}" data-nombre="{{ historia.perfil.user }}">
				<img src="{{ historia.foto.url }}" width="80" height="80" style="object-fit: cover;">
			</a>

		  <!-- Modal Structure -->
		  <div id="modal{{ historia.perfil.id }}" class="modal">
		    <div class="modal-content">
		      <h4>Modal Header</h4>
		      <p>A bunch of text</p>
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
		    </div>
		  </div>
		{% endfor %}

	</div>
	{% for noticia in noticias %}
		{% if noticia.foto.is_historia == False %}
			<div class="col s12 m4 offset-m4">
				<div id="publicacion" class="card">

					<div class="card-content card_content_title grey-text text-darken-4">
						<a href="{% url 'perfil_id' noticia.perfil.id %}"> <img class="foto_perfil_pub" src="{{ noticia.perfil.foto_perfil.url }}"></a>
						<a href="{% url 'perfil_id' noticia.perfil.id %}"><span class="nombre_perfil_pub"><strong>{{ noticia.user }}</strong></span></a>
						<span class="fecha_perfil_pub">{{ noticia.foto.created }}</span>
						<i class="activator material-icons right">more_vert</i>
					</div>

					<div class="card-image waves-effect waves-block waves-light perfil_publicacion">
						<img href="#modal_noticia{{ noticia.id }}" class="modal-trigger foto_square" src="{{ noticia.foto.foto.url }}">

						<!-- Modal Structure -->
						<div id="modal_noticia{{ noticia.id }}" class="modal">
							<div class="modal-content">
								<div class="left col s12 m7">
									<div class="perfil_publicacion modal_foto">
										<img class="foto_square" src="{{ noticia.foto.foto.url }}">
									</div>
								</div>
								<div class="right col s12 m5">
									<h4>Modal Header</h4>
									<p>A bunch of text</p>
								</div>
							</div>
						</div>

					</div>

					<div class="card-content opciones_pub">
						<a href="{% url 'me_gusta' noticia.foto.id noticia.perfil.id %}"><i href="" class="material-icons icons_pub">favorite_border</i></a>
						<i href="" class="material-icons icons_pub">chat_bubble_outline</i>
						<!-- <i href="" class="material-icons icons_pub">arrow_upward</i> -->
						<i href="" class="right material-icons">bookmark_border</i>
					</div>
					<div class="card-content comentarios_pub">
						<span class="activator grey-text text-darken-4">
							<strong>{{ noticia.user }}</strong>
							{{ noticia.foto.titulo }}
						</span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{ noticia.user }}<i class="material-icons right">close</i></span>
						<p>{{ noticia.foto_id.titulo }}</p>
						<p>COMENTARIOS</p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
